<%
var publishTimestamp = page.date.valueOf();
%>
<div class="post-container container">
  <h3>
    <i class="fa fa-user"></i>
    <%= config.author || '' %>
    &nbsp;&nbsp;

    <i class="fa fa-calendar"></i>
    <%= page.date.format('YYYY-MM-DD') %>
    &nbsp;&nbsp;
    
    <i class="fa fa-folder-open"></i>
    <% page.categories.forEach(function(category){ %>
    <a href="<%= url_for(category.path) %>"><%= category.name %></a>
    <% }) %>
    &nbsp;&nbsp;

    <% page.tags.forEach(function(tag){ %>
    <i class="fa fa-tag"></i>
    <a href="<%= url_for(tag.path) %>"><%= tag.name %></a>
    &nbsp;&nbsp;
    <% }) %>

    <span class="post-date float-right" title="{{moment(<%= publishTimestamp %>).format('MMM DD, YYYY, h:mm:ss A')}}">
      <i class="fa fa-pencil-square-o"></i>
      {{moment(<%= publishTimestamp %>).fromNow()}}
    </span>
  </h3>

  <article class="post-content">
    <h1><%= page.title || 'Untitle' %></h1>
    <%- page.content %>

    <!-- 添加打赏功能 -->
    <h2 id="Donate"><a href="#Donate" class="headerlink" title="Donate"></a>Donate</h2>
    <p>謝謝您的支持與鼓勵</p>
    <iframe src="/html/donate.html" style="overflow-x:hidden;overflow-y:hidden; border:0xp none #fff; min-height:240px; width:100%;"  frameborder="0" scrolling="no" allowtransparency="true"></iframe>

    <h2 id="Ads"><a href="#Ads" class="headerlink" title="Ads"></a>Ads</h2>
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6384005825719368"
     data-ad-slot="1066222745"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

  </article>
</div>

<% if (config.gitalk ) { %>
    <%- partial('_widget/gitalk') %>
<% }else{ %>
    <%- partial('_widget/disqus') %>
<% } %>