<%
config.social = config.social || {};
theme.social = theme.social || {};
var url = config.url;
var flagcounter_url = config.flagcounter_url;
%>
<div class="footer-wrapper container">
  <footer class="footer clearfix">
    <div class="clearfix">
    <a href="<%= config.url %>" class="footer-logo">
      <i class="fa fa-github"></i>
    </a>
    <ul class="footer-social-link">
      <li>© 2019 <%= config.author %></li>
    </ul>
    <div class="footer-theme-info">
      Theme <a href="//github.com/sabrinaluo/hexo-theme-replica">Replica</a>
      by <a href="//github.com/sabrinaluo">Hiitea</a> ❤ Powered by Hexo
    </div>
    </div>
    <% if(flagcounter_url){ %>
    <div class="footer-pageview">
        <a href="https://info.flagcounter.com/mx4Y">
          <img src="<%= flagcounter_url %>">
        </a>
    </div>
    <% } %>
  </footer>
</div>
