<%
var tags = page.tags ? page.tags.data : '';
%>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>
    <%= (page.title || config.title) + (page.title ? ' | ' + config.title : '') %>
  </title>
  <meta name="description" content="<%= config.description %>">
  <%
  if(tags){ %>
  <meta name="keywords" content="
  <%= tags.map(function(tag) {
    return tag.name
  }).join(',') %>
  ">
  <% } %>
  <meta name="author" content="<%= config.author %>">

  <meta http-equiv="Cache-Control" content="no-transform"/>
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="baidu-site-verification" content="FLpHk2Inhu" />
  <meta name="google-site-verification" content="HmWmGankhma1eetb-ek1OtNYDlnRMYUmRT0Gk_zmO4Q" />

  <link rel="icon" type="image/x-icon" href="<%= config.favicon %>">
  <link rel="stylesheet" href="<%= config.root %>css/main.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%- partial('_widget/google-analytics') %>
  <%- partial('_widget/baidutongji') %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.25-csp/vue.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts.common.min.js" integrity="sha256-12Wvd03ukSfMd6sAik/UKyH/Q7KYzM18yFfizIsMOjA=" crossorigin="anonymous"></script>
  <script data-ad-client="ca-pub-6384005825719368" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
  </script>

</head>
