<%
var posts = page.posts.data;
var nav_selected = page.path.split('/')[0];
%>

<div class="container-lg">
  <%- partial('_partial/intro') %>
  <div class="blog-detail">
    <%- partial('_partial/navbar-secondary', {nav_selected: nav_selected}) %>

    <div class="body-secondary">
      <ul class="archive-list">
        <% posts.forEach(function(post){
          var category;
          post.categories.forEach(function(cat, index) {
            if (index === 0) {
              category = cat
            }
          })
        %>
        <li class="archive-list-item">
          <h2><a href="<%= url_for(post.path) %>"><%= post.title || 'Untitled' %></a></h2>
          <p>
            <%= post.content
                    .replace(/<[^>]*>/ig, ' ')
                    .substr(0, 150) %>...
          </p>
          <ul class="tag-list clearfix">
            <% post.tags.forEach(function(tag){ %>
            <li class="tag-list-item"><a href="<%= url_for(tag.path) %>"><%= tag.name %></a></li>
            <% }) %>
          </ul>
          <div class="post-info">
            <span>
              <% if(category){ %>
              <a class="category-link" href="<%= url_for(category.path) %>"><i class="fa fa-folder-open"></i> <%= category.name %></a>
              <% } else { %>
              <i class="fa fa-folder-open"></i> <%= 'Uncategorized' %>
              <% } %>
            </span>
            <span><i class="fa fa-tag"></i> <%= post.tags.length %> </span>
            <span>Published {{moment(<%= post.date.valueOf() %>).fromNow()}}</span>
          </div>
        </li>
        <% }) %>
      </ul>
      <div class="archive-before-pagination"></div>
      <%- partial('_partial/pagination') %>
    </div>
  </div>
</div>
